<header>
  <div class="raw">
    <div class="col-md-6 col-md-offset-3">
      <h1>{{ site.title }}</h1>
      <h2>Open Project about testing the illumination algorithms and renderer</h2>
    </div> 
  </div>
</div>

<div class="clearfix"></div>
</header>
<nav id="header-menu" class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">Home</a></li>
                <li><a href="model.html">Model</a></li>
                <li><a href="researches">Researches</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>