<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}
  <div class="container">
    <div class="clearfix"></div>
    <div class="row">
    	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    		{{ content }}
    	</div>
    	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    		<aside id="sidebar">
	        <h4>Download Links</h4>
	        <a href="https://github.com/Arctic76/Real-Set/zipball/master" class="button">
	          <small>Download</small>
	          .zip file
	        </a>
	        <a href="https://github.com/Arctic76/Real-Set/tarball/master" class="button">
	          <small>Download</small>
	          .tar.gz file
	        </a>

	        <p class="repo-owner"><a href="https://github.com/Arctic76/Real-Set"></a> is maintained by <a href="https://github.com/Arctic76">Arctic76</a>.</p>
	      </aside>
    	</div>
    </div>
    
      
  </div>
  


  {% include footer.html %}
  {% include js.html %}

</body>

</html>
