<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}
  <div class="container">
    <div class="clearfix"></div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
    		{{ content }}
    	</div>
    	<div class="col-xs-0 col-sm-0 col-md-0 col-lg-2 hidden-xs hidden-sm hidden-md">
    		<aside id="sidebar">
          <h4>Download Links</h4>
          <a href="https://github.com/Arctic76/Real-Set/zipball/master" class="button">
            <img src="{{site.url}}/assets/images/download-zip.png" class="img-responsive" alt="download zip file">
	        </a>
          <br/>
          <a href="https://github.com/Arctic76/Real-Set/tarball/master" class="button">
            <img src="{{site.url}}/assets/images/download-tar.png" class="img-responsive" alt="download tar.gz file">
          </a>
	      </aside>
    	</div>
    </div>
    
      
  </div>
  <div class="clearfix"></div>


  {% include footer.html %}
  {% include js.html %}

</body>

</html>
